.container {
  background-color: #c5c2c2;
}
.menuList {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;

  border: 2px solid #c0392b;
  border-radius: 12px;
  margin-top: 20px;
  transition: border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.menuList:hover {
  border-color: #f2613f;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menuListImage img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.menuList:hover .menuListImage img {
  transform: scale(1.1);
}

.menuList-Body {
  flex-grow: 1;
  padding-left: 20px;
}

.menuList-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menuList-Name {
  font-size: 22px;
  font-weight: bold; /* Set font weight to bold */
  color: #333;
}

.menuList-Price {
  font-size: 18px;
  font-weight: bold;
  color: #c0392b;
}

.menuList-Desc {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.addsubbuttons {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.addButton {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.cartcontainer {
  z-index: 10;
  background-color: #c5c2c2;
  position: sticky;
  right: 0%;
  bottom: 0%;
  width: 100%;
}
.finalSubmitForm {
  z-index: 11;
  position: fixed;
  background-color: #33333370;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.submitForm {
  height: 40%;
  width: 45%;
  border-radius: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: absolute;
  padding: 40px 50px;
  left: 30%;
  box-shadow: 1px 1px 1px #666;
}
.inputForm {
  display: flex;
  justify-content: space-between;
}

.submitForm input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.submitForm input[type="text"],
.submitForm input[type="password"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.submitForm input[type="text"]:hover {
  border-color: #f44336;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.submitForm button {
  border: none;
  background: #ef5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.submitForm button:hover {
  background: #f44336;
}

.submitForm h2 {
  margin: 20px 0 0;
  color: #ef5350;
  font-size: 28px;
}

.submitForm p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.submitForm h2,
.submitForm p,
.submitForm a {
  text-align: center;
}

.submitForm a {
  text-decoration: none;
  font-size: 0.8em;
}

.submitForm a:visited {
  color: inherit;
}

.submitForm a:hover {
  text-decoration: underline;
}
