
.menuItemList{
    margin-top: 50px;
}
.menuListContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.menuListBtnOption{
    display: flex;
    gap: 30px;
    align-items: center;
}
.menuListBtnOption img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.menuListBtn {
  border: none;
    cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 1.222em 2em 1.111em 2em;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  background: #2ab22e;
  transform: translate3d(0, 0, 0);
  transition: 0.1s background, 0.1s transform;

  &:hover {
    background: darken(#2ab22e, 5);
    transform: translate3d(0, 8px, 0);

    &:after,
    &:before {
      height: 0;
      background: darken(#2ab22e, 10);
    }
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 50%;
    height: 8px;
    background: darken(#2ab22e, 5);
    transition: 0.1s height, 0.1s background;
  }

  &:after {
    right: 0;
    transform: skewX(-45deg);
    transform-origin: 0 0;
  }

  &:before {
    left: 0;
    transform: skewX(45deg);
    transform-origin: 100% 0;
  }
}
